@import '../../../styles.scss';

.container-home{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;

    .container-artistico{
        display: flex;
        gap: 40px;
        z-index: 2;
        position: relative;

        .ola-perfil{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $secondary-color;
            gap: 10px;
            border: 1px $border-color solid;
            width: 20rem;
            height: 14rem;
    
            img{
                width: 70px;
                height: 70px;
                border-radius: 50px;
            }
        }
    
        .videos-apresentacao{
            width: 40rem;
            height: 14rem;
            background-color: $secondary-color;
            border: 1px $border-color solid;
        }    
    }
    
    .image-banner{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 1;
    }
}