<div class="container-home">
    <img class="image-banner" src="../../../assets/background.png" alt="">
    <div class="container-artistico">
        <div class="ola-perfil">
            <img src="../../../assets/perfil.jpg" alt="perfil">
            <p>Olá, {{alguem}}!</p>
            <button class="button">Perfil Atístico</button>
        </div>
        <div class="videos-apresentacao">

        </div>
    </div>
    <div class="acesso-facil">
        <h2>Acesso Rápido</h2>
        <div class="painel">

        </div>
    </div>
</div>

